.App {
  text-align: center;
  margin: 30px;
  padding: 20px;
}

.pic {
  background-image: url(./2634575-monster-hunter-world-4k-hd-wallpaper-image.jpeg);
  background-size: 100% 100%;
  height: 500px;
  padding: 15px;
  margin: 15px;
}

.Title {
  color: rgb(69, 18, 18);
  background-color: rgb(228, 224, 224);
  padding: 15px;
  margin: 15px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  letter-spacing: .3rem;
}

.Contents {
  background-color: rgb(69, 18, 18);
  padding: 1px;
  margin: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.listMonsters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(246, 246, 230);
  border-radius: 5px;
  min-height: 50px;
  min-width: 50px;
  padding: 10px;
  margin: 10px;
}

.Modal {
  letter-spacing: .1rem;
}

.Card {
  justify-content: center;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  padding: 10px;
  margin: -1px;
  transition: ease .175s;
  font-size: 12px;
}

.Card:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  cursor: pointer;
}