body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: white;
  margin: 30px;
  padding: 20px;
}

.Title {
  color: rgb(69, 18, 18);
}

.Contents {
  background-color: rgb(69, 18, 18);
  padding: 15px;
  margin: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.listMonsters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: beige;
  min-height: 50px;
  min-width: 50px;
  padding: 10px;
  margin: 10px;
}

.Card {
  display: flex;
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(209, 199, 199)
}

.Card:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  cursor: pointer;
}